body {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  position: relative;
  min-height: 100vh;
  background: url('../assets/back.png') no-repeat center center;
  background-size: cover;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.80);
  opacity: 1;
  z-index: 0;
}

#contact-container {
  padding-top: 2rem;
  position: relative;
  z-index: 1;
}

#contact-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  background: var(--bs-gradient-dark);
  background-clip: text;
  color: transparent;
}

#contact-content p {
  font-size: 1.2rem;
  color: #555;
}

#contact-form h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#contact-form form {
  background: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contact-google-form {
  width: 100%;
  height: 800px;
}