#home-container {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
}

.home-section {
    display: flex;
    width: 100%;
    padding: 3rem;
}

#home-section-1 h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#home-section-1 p {
    font-size: 1.2rem;
    line-height: 1.6;
}

#home-section-1 .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home-section-1-image {
    align-items: center;
}

#home-section-1-logo {
    height: 3.5rem;
    margin: 1rem 0;
    width: fit-content;
}

#home-section-1-image img{
    height: 25rem;
    background-color: #333;
    border-radius: var(--bs-border-radius);
    box-shadow: var(--bs-box-shadow);
}

.home-section-2-paragraph {
    margin-top: 1rem;
}

.home-section-2-paragraph h4 {
    color: var(--bs-secondary-color);
}

.home-section-2-paragraph h4::before {
    content: "";
    width: 0.46em;
    height: 1em;
    display: inline-block;
    background-image: url('/icon1.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 1rem;
}

#home-section-3-container{
    padding-top: 1rem;
    gap: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

#home-section-3-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#home-section-3-cards .card{
    border-color: rgba(136, 74, 138, 0.5);
}

#home-section-3-cards .card-title{
    color: var(--bs-secondary-color)
}

#home-section-3-cards .card-title::before {
    content: "";
    width: 0.46em;
    height: 1em;
    display: inline-block;
    background-image: url('/icon2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 1rem;
}

#home-section-3-image {
    align-items: center;
    justify-content: center;
    display: flex;
}

#home-section-3-image img{
    width: 25rem;
    height: 25rem;
    background-color: #333;
}